#navbar {
    background-color: aquamarine;
    min-height: 5em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid midnightblue;
}

li {
    border: 2px solid midnightblue;
    border-bottom: none;
    padding: 2%;
    margin-right: 2%;
}

#col-right {
    background-color: cadetblue;
    min-height: 80vh;
}

#col-left {
    background-color: cornflowerblue;
    min-height: 80vh;
}

#footer {
    background-color: darkgreen;
    min-height: 2em;
}